* {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: "Montserrat";
    font-size: 75px;
}

h2 {
    font-family: "Khula";
    font-weight: 300;
    font-size: 25px;
}

h3 {
    font-family: "Montserrat";
    font-size: 25px;
    padding-top: 50px;
    width: 100%;
    text-align: center;
    color: #FF6464;
}


h4 {
    font-family: "Khula";
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
}

.underline {
    text-decoration: underline;
    
}

.bold {
    font-weight: 700;
    
}

.italic {
    font-style: italic;
    
}

#menu {
    position: fixed;
    background-color: rgba(17, 17, 17, .75);
    width: 100%;
    font-family: "Montserrat";
    font-size: 17px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    z-index: 2;
    border-bottom: solid 1px #FF6464;
    transition: .5s all;
}

#menu:hover {
    padding-bottom: 30px;
    transition: .5s all;
}

#menu a {
    border-bottom: solid 2px rgba(255,100,100,0);
    transition: .5s all;
}

#menu a:hover {
    border-bottom: solid 2px rgba(255,100,100,1);
    transition: .5s all;
}



#banner img {
    position: fixed;
    width: 100%;
    top: -150px;
    z-index: -2;
}

#bannercontent {
    padding: 200px;
}



#main {
    height: auto;
    min-height: 50vh;
    background-color: rgba(17, 17, 17, .9);
    border-top: solid 1px #FF6464;
    border-bottom: solid 1px #FF6464;
}

.maincontent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picturebox {
    width: 300px;
    height: 300px;
    margin: 50px;
    background-color: rgb(27, 27, 27);
}

.picturebox img {
    width: 300px;
    border: solid 2px rgba(255,100,100,0);
    transition: .5s all;
}

.picturebox img:hover {
    border: solid 2px rgba(255,100,100,1);
    transition: .5s all;
}

.textbox {
    width: 600px;
    height: 300px;
    margin: 50px;
    background-color: rgb(27, 27, 27);
}

.downloadbox {
    width: 300px;
    height: 300px;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.downloadbox img {
    width: 50px;
    padding: 125px;
    border: solid 1px rgba(255,100,100,0);
    transition: .5s all;
}

.downloadbox img:hover {
    border: solid 1px rgba(255,100,100,1);
    transition: .5s all;
}

.bigpicturebox {
    width: 300px;
    height: 500px;
    margin: 50px;
    background-color: rgb(27, 27, 27);
}

.bigpicturebox img {
    width: 300px;
    border: solid 2px rgba(255,100,100,0);
    transition: .5s all;
}

.bigpicturebox img:hover {
    border: solid 2px rgba(255,100,100,1);
    transition: .5s all;
}

.videobox {
    width: 800px;
    min-height: 550px;
    margin: 50px;
    background-color: rgb(27, 27, 27);
}

.videobox video {
    width: 800px;
    height: 450px;
}
